MINER_SERVER="http://localhost:5000"
VALIDATOR_SERVER="http://localhost:5001"
MINER_HOST="localhost"
MINER_PORT=5000
VALIDATOR_HOST="localhost"
VALIDATOR_PORT=5001
MINER_NAME="miner"
MINER_HOTKEY="default"
VALIDATOR_NAME="validator"
VALIDATOR_HOTKEY="default"
NETWORK_TYPE="local"
CHAIN_ENDPOINT="ws://localhost:9946"
OPENAI_API_KEY="PLACE YOUR KEY HERE"
